astropy==7.2.0
astropy-iers-data==0.2026.2.9.0.50.33
certifi==2026.1.4
charset-normalizer==3.4.4
idna==3.11
jplephem==2.24
numpy==2.4.2
packaging==26.0
pyerfa==2.0.1.5
python-dateutil==2.8.2
python-dotenv==0.21.1
PyYAML==6.0.3
requests==2.31.0
scipy==1.17.0
sgp4==2.25
six==1.17.0
skyfield==1.54
sopp==0.8.2
urllib3==2.6.3
